In [638]:
import pandas as pd
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder,LabelEncoder,StandardScaler

In [639]:
df = pd.read_csv("loan_default_risk_dataset.csv")

df.head()

   Retirement_Age  Debt_Amount  Monthly_Savings  Loan_Default_Risk
0            60.0      2996.52          2378.49                  0
1            66.4      4137.23          1538.92                  1
2            58.5     19865.75          2434.80                  1
3            49.8     16855.70          2677.82                  1
4            67.3      7902.37          2206.72                  0

In [640]:
df.isnull().sum()

Retirement_Age       0
Debt_Amount          1
Monthly_Savings      2
Loan_Default_Risk    0
dtype: int64

In [641]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Retirement_Age     300 non-null    float64
 1   Debt_Amount        299 non-null    float64
 2   Monthly_Savings    298 non-null    float64
 3   Loan_Default_Risk  300 non-null    int64
dtypes: float64(3), int64(1)
memory usage: 9.5 KB

In [642]:
# df.dropna(inplace=True)

In [643]:
Debt_Amount_mean = df["Debt_Amount"].mean()

Monthly_savings = df["Monthly_Savings"].mean()

# Debt_Amount_mean
# # Monthly_savings
# # df[df['Debt_Amount']==15704.173946488294]
Debt_Amount_mean
# Monthly_savings

np.float64(15704.173946488294)

In [644]:
df["Debt_Amount"] = df["Debt_Amount"].fillna(Debt_Amount_mean)
df["Monthly_Savings"] = df["Monthly_Savings"].fillna(Monthly_savings)

In [645]:
# df["Monthly_Savings"].mode()

In [646]:
df["Debt_Amount"].mean()
# df["Monthly_Savings"].mean()

np.float64(15704.173946488294)

In [647]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Retirement_Age     300 non-null    float64
 1   Debt_Amount        300 non-null    float64
 2   Monthly_Savings    300 non-null    float64
 3   Loan_Default_Risk  300 non-null    int64
dtypes: float64(3), int64(1)
memory usage: 9.5 KB

In [648]:
df.head()

   Retirement_Age  Debt_Amount  Monthly_Savings  Loan_Default_Risk
0            60.0      2996.52          2378.49                  0
1            66.4      4137.23          1538.92                  1
2            58.5     19865.75          2434.80                  1
3            49.8     16855.70          2677.82                  1
4            67.3      7902.37          2206.72                  0

In [649]:
x = df.drop(columns=("Loan_Default_Risk"),axis=1)

y = df["Loan_Default_Risk"]

xtrain,xtest,ytrain,ytest = train_test_split(x,y,train_size=0.8,random_state=42)

In [650]:
df['Loan_Default_Risk'].value_counts()

Loan_Default_Risk
0    150
1    150
Name: count, dtype: int64

In [651]:
model = DecisionTreeClassifier(random_state=42)

In [652]:
# model.fit(xtrain,ytrain)

In [653]:
# model.score(xtest,ytest)

In [654]:
# model.score(xtrain,ytrain)

In [655]:
# model.get_depth()

In [656]:
num_col = x.select_dtypes(include=["int64","float64"]).columns
num_col

Index(['Retirement_Age', 'Debt_Amount', 'Monthly_Savings'], dtype='object')

In [ ]:
params={
    'criterion':['gini','entropy'],
    'min_samples_split':[2,3,5,10],
    'max_depth':[5,10,50,100,200],
    'min_samples_leaf':[2,3,5,7,10]
}
# gridsearch= GridSearchCV(model,params,cv=5,n_jobs=-1)
# gridsearch.fit(xtrain,ytrain)
# gridsearch.score(xtest,ytest)

In [658]:
# gridsearch.best_params_

In [659]:
# gridsearch.best_score_

In [660]:
from sklearn.impute import SimpleImputer
preprocessor = ColumnTransformer(
    transformers=[
        ('pre',Pipeline(
            steps=[
                # ('impute',SimpleImputer(strategy="mean")),
        								("stand",StandardScaler()
                )
																]
								),num_col)
    ]
)

In [672]:
pipeline = Pipeline(
    steps=[
        ("preprocessing",preprocessor),
        ("model",model)
				]
)
# params={
#     'model__criterion':['gini'],
#     'model__min_samples_split':[2,3,5,10],
#     'model__max_depth':[5,10,50,100,200],
#     'model__min_samples_leaf':[2,3,5,7,10]
# }
grid = GridSearchCV(model,params,cv=5,n_jobs=-1)

In [2]:
grid.fit(xtrain,ytrain)

NameError: name 'grid' is not defined

In [663]:
# pd.DataFrame(grid.cv_results_)

In [664]:
grid.best_params_

{'model__criterion': 'gini',
 'model__max_depth': 10,
 'model__min_samples_leaf': 3,
 'model__min_samples_split': 2}

In [665]:
grid.score(xtest,ytest)

0.9

In [666]:
grid.score(xtrain,ytrain)

0.975